[*.cs]

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = warning

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

indent_style = space
indent_size = 4
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
remove_trailing_whitespace = true
remove_empty_lines = true
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = methods, properties, control_blocks, types
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = warning
